:root {
  --font-color: white;
  --card-bg-color: rgba(41, 209, 255, 0.3);
}
.card {
  background: var(--card-bg-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: var(--font-color);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border-radius: 16px;
  padding: 3rem;
  padding-right: 1rem;
  align-items: center;
  overflow: hidden;
}
.card .card-title-name {
  text-transform: capitalize;
}
.card .card-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 500px;
  max-height: 500px;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
.card .type-badge-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 22px;
}
.card .type-badge {
  display: block;
  width: fit-content;
  text-transform: capitalize;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100rem;
}
.type-normal {
  --card-bg-color: #c2c2a1;
  --font-color: black;
}
.type-flying {
  --card-bg-color: #bab0d5;
}
.type-ghost {
  --card-bg-color: #735797;
}
.type-dark {
  --card-bg-color: #333;
}
.type-steel {
  --card-bg-color: #ccccde;
}
.type-ground {
  --card-bg-color: #b1736c;
}
.type-poison {
  --card-bg-color: #7c538c;
}
.type-grass {
  --card-bg-color: #48d0b0;
}
.type-fire {
  --card-bg-color: #fb6c6c;
}
.type-electric {
  --card-bg-color: #ffd86f;
  --font-color: black;
}
.type-fairy {
  --card-bg-color: #f469a9;
}
.type-bug {
  --card-bg-color: #c3ce75;
}
.type-fighting {
  --card-bg-color: #d6b591;
}
.type-water {
  --card-bg-color: #609fb5;
}
.type-psychic {
  --card-bg-color: #9b7fa6;
}
.type-ice {
  --card-bg-color: #7fccec;
}
.type-rock {
  --card-bg-color: #a6aab6;
}
.type-dragon {
  --card-bg-color: #f9be00;
  --font-color: black;
}
