.pokemon-grid {
  display: grid;
  padding: 0 50px;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 800px) {
  .pokemon-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .pokemon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1920px) {
  .pokemon-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
